@{
    ViewBag.Title = "会员VIP";
}

<div class="page-category mt-6" style="margin-bottom: 10px;">
    <main class="container">
        <div class="row">
            <div class="post-wrap">
                <div class="article-title-center">
                    加入会员，全部免费
                </div>
                <br />
                <div class="article-title">
                    <span class="vipfont">会员A</span>：￥49.9元， 每天免费任选 5 套教程，分享给你。<br />
                    <span class="vipfont">会员B</span>：￥99.9元， 每天免费任选 10 套教程，分享给你。<br />
                    <span class="vipfont">会员C</span>：￥199.9元，站点所有300多套教程一次性全部分享给你！<br />
                </div>
                <br />
                <div class="article-title">
                    <span class="nvipfont">非会员</span>：￥4.99元/件，2件9折，3件8折，4件7折，5件6折，6件以上全部5折！
                </div>
                <br />
                <div class="article-title" style="padding-bottom:15px">
                    <span class="huoqufont">如何获取教程</span>：<br />
                    1：扫码添加官方微信（下方二维码），备注："来自官网"<br />
                    2：办理会员或散买教程（微信转账或红包）<br />
                    3：百度网盘分享给您<br />
                </div>
                <div style="text-align: center;">
                    <a class="fancybox" title=""><img src="@ViewBag.ShopInfo.WXImageUrl" width="350" height="350"></a>
                </div>
            </div>
        </div>
    </main>
</div>