@{
    ViewBag.Title = "会员VIP";
}

<main class="container pt-xs-6" id="pjax-content">
    <div class="row">
        <div id="main">
            <article class="article">
                <div class="article-title-center">
                    <a href="http://www.zixuexia.com/archives/1045">
                        加入会员，全部免费
                    </a>
                </div>
                <div class="article-body">
                    <a href="http://localhost:9017/others/vipdetail1.png" target="_blank" class="fancybox" rel="fancybox-group" title=""><img src="http://localhost:9017/others/vipdetail1.png" width="750"></a>
                    <a href="http://localhost:9017/others/vipdetail2.png" target="_blank" class="fancybox" rel="fancybox-group" title=""><img src="http://localhost:9017/others/vipdetail2.png" width="750"></a>
                </div>
            </article>
        </div>
    </div>
</main>
