@{
    ViewBag.Title = "会员VIP";
}

<main class="container pt-xs-6" id="pjax-content">
    <div>
        <div style="float:left;width:70%;padding-top:20px">
            <div class="article-title-center">
                加入会员，全部免费
            </div>
            <br />
            <div class="article-title">
                会员A：49.9元， 每天免费任选 5 套教程，分享给你。<br />
                会员B：99.9元， 每天免费任选 10 套教程，分享给你。<br />
                会员C：199.9元，站点所有300多套教程一次性全部分享给你！<br />
            </div>
            <br />
            <div class="article-title">
                所有教程，单买4.99/套，2件9折，3件8折，4件7折，5件6折，6件以上全部5折！
            </div>
            <br />
            <div class="article-title" style="padding-bottom:5%">
                如何获取教程：<br />
                1：扫码添加官方微信（右方二维码），备注 来自官网<br />
                2：办理会员或散买教程（微信转账或红包）<br />
                3：百度网盘分享给您<br />
            </div>
        </div>
        <div style="float:right;width:27%;padding-top:20px;">
            <a class="fancybox" title=""><img src="@AppConst.OtherImagePath/xqw_vip.png" width="300" height="300"></a>
        </div>
    </div>
</main>