@{
    ViewBag.Title = "会员VIP";
}

<main class="container pt-xs-6" id="pjax-content">
    <div class="row">
        <div id="main">
            <article class="article">
                <div class="article-title-center">
                    加入会员，全部免费
                </div>
                <div class="article-body">
                    <a href="@AppConst.OtherImagePath/vipdetail1.png" target="_blank" class="fancybox" rel="fancybox-group" title=""><img src="@AppConst.OtherImagePath/vipdetail1.png" width="750"></a>
                    <a href="@AppConst.OtherImagePath/xqw_vip.png" target="_blank" class="fancybox" rel="fancybox-group" title=""><img src="@AppConst.OtherImagePath/xqw_vip.png" width="750"></a>
                </div>
            </article>
        </div>
    </div>
</main>