@{
    ViewBag.Title = "商品详情页";
}
    <main class="container pt-6" id="main">
        <section class="search-title">
            <h3 class="page-title">搜索：视频</h3>
        </section>
        <div class="row">
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/775" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/775"> 果汁调制视频教程 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/6%e5%8c%96%e5%a6%86%e5%bd%a2%e8%b1%a1%e9%a5%ae%e9%a3%9f">
                                6化妆|形象|饮食
                            </a>
                            <span class="post-time">
                                2019.01.03
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 189
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/84" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/84"> 淘宝开店从入门到精通视频教程 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/1%e7%94%b5%e5%95%86%e7%a4%be%e4%ba%a4%e6%8e%a8%e5%b9%bf">
                                1电商|社交|推广
                            </a>
                            <span class="post-time">
                                2019.01.02
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 1169
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/77" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/77"> Lazada从入门到精通视频教程 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/1%e7%94%b5%e5%95%86%e7%a4%be%e4%ba%a4%e6%8e%a8%e5%b9%bf">
                                1电商|社交|推广
                            </a>
                            <span class="post-time">
                                2019.01.02
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 435
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/64" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/64"> 速卖通Aliexpress从入门到精通视频教程 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/1%e7%94%b5%e5%95%86%e7%a4%be%e4%ba%a4%e6%8e%a8%e5%b9%bf">
                                1电商|社交|推广
                            </a>
                            <span class="post-time">
                                2019.01.02
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 303
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/55" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/55"> eBay从入门到精通视频教程 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/1%e7%94%b5%e5%95%86%e7%a4%be%e4%ba%a4%e6%8e%a8%e5%b9%bf">
                                1电商|社交|推广
                            </a>
                            <span class="post-time">
                                2019.01.02
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 227
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/37" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/37"> 亚马逊Amazon从入门到精通视频教程 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/1%e7%94%b5%e5%95%86%e7%a4%be%e4%ba%a4%e6%8e%a8%e5%b9%bf">
                                1电商|社交|推广
                            </a>
                            <span class="post-time">
                                2019.01.02
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 865
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/%e5%85%b3%e4%ba%8e%e8%87%aa%e5%ad%a6%e4%be%a0" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/%e5%85%b3%e4%ba%8e%e8%87%aa%e5%ad%a6%e4%be%a0"> 关于小青蛙商学院 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="">
                            </a>
                            <span class="post-time">
                                2019.01.05
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 1
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/1114" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/1114"> 联系我们 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/%e5%8a%9f%e8%83%bd%e8%8f%9c%e5%8d%95/%e8%81%94%e7%b3%bb%e6%88%91%e4%bb%ac">
                                联系我们
                            </a>
                            <span class="post-time">
                                2019.01.05
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 188
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/archives/1057" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/archives/1057"> 关于小青蛙商学院 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="http://www.zixuexia.com/catalogs/%e5%8a%9f%e8%83%bd%e8%8f%9c%e5%8d%95/%e5%85%b3%e4%ba%8e%e6%88%91%e4%bb%ac">
                                关于我们
                            </a>
                            <span class="post-time">
                                2019.01.05
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 1394
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    4
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post post-style-card transition">
                    <a class="post-img img-response" href=" http://www.zixuexia.com/%e8%81%94%e7%b3%bb%e6%88%91%e4%bb%ac" style="background-image: url()">
                    </a>
                    <div class="post-top">
                        <div class="post-title mb-1">
                            <a href="http://www.zixuexia.com/%e8%81%94%e7%b3%bb%e6%88%91%e4%bb%ac"> 联系我们 </a>
                        </div>
                        <div class="post-top-meta mb-3">
                            <a class="post-category" href="">
                            </a>
                            <span class="post-time">
                                2019.01.05
                            </span>
                        </div>
                    </div>
                    <div class="p-3">
                        <ul class="post-meta-bottom">
                            <li class="post-meta-author">
                                <a class="d-block" href="http://www.zixuexia.com/archives/author/zixuexia" target="_blank">
                                    <img src="https://secure.gravatar.com/avatar/8ac98cc09bb07c0d37adfa19d44ede49?s=96" class="avatar avatar-96" height="96" width="96">            <span class="d-inline-block">zixuexia</span>
                                </a>
                            </li>
                            <li class="post-meta-view pull-right">
                                <i class="czs-eye"></i> 1
                            </li>
                            <li class="post-meta-comments pull-right">
                                <i class="czs-comment"></i> 0
                            </li>
                            <li class="post-meta-like pull-right">
                                <i class="czs-heart"></i>
                                <span class="count">
                                    0
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>