<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="自学,教程,视频教程">
    <meta name="description" content="小青蛙商学院，国内自学视频教程平台。提供各种入门教程，范围包括：电商|社交|推广，平面|影视|三维|网站，音乐|美术|摄影，运动|健身|舞蹈，外语|办公|职业，化妆|形象|饮食，生活|维修|宠物|手工|母婴等">
    <title>小青蛙商学院-自学视频教程平台</title>
    <link rel="dns-prefetch" href="//apps.bdimg.com">
    <link rel="dns-prefetch" href="//cdn.bootcss.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="alternate" type="application/rss+xml" title="小青蛙商学院 » 电商分类目录Feed" href="">
    <link rel="stylesheet" id="style-css" href="~/Content/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="owlcss-css" href="~/Content/css/owl.carousel.min.css?ver=1.3.2" type="text/css" media="all">
    <link rel="stylesheet" id="PrismCss-css" href="~/Content/css/prism.css?ver=1.5.0" type="text/css" media="all">
    <link rel="stylesheet" id="FancyboxCss-css" href="~/Content/css/jquery.fancybox.min.css" type="text/css" media="all">

    <style type="text/css">
        .friend-link li a:hover, .custom-carousel, .custom-carousel .owl-prev, .custom-carousel .owl-next, .site-record:hover, .post .post-title a:hover, #footer .footer-friends li a span:hover, #footer .footer-feature .footer-menu li a:hover, .widget-hotpost a:hover, .article-body a, .comments .comments-list .comment .comment-body .comment-user a, .comments .comments-list .comment .children .comment-user a, #comment-nav-below .nav-inside .current, .widget-hotpost-brief i, .archive-header .archive-header-title {
            color: #38B7EA;
        }

        .article-like .favorite, .carousel-info-meta .carousel-info-category, .tagcloud a:hover, .calendar_wrap table td a, .article-meta .article-meta-tags a, .article-support .article-support-button a, .comments #respond .form-submit input {
            background-color: #38B7EA;
        }

        .article-body h2, .article-body h3 {
            border-left: 5px solid #38B7EA;
        }

        .article-like .done {
            border: 1px solid #38B7EA;
        }

        .page-category-img:after {
            background: #666;
            opacity: 1;
        }

        .admin-login a:hover {
            background-color: #38B7EA;
        }

        .article-like .favorite {
            box-shadow: 0 1px 10px #38B7EA;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js?ver=2.1.4"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js?ver=3.1.13"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/fancybox/2.1.4/jquery.fancybox.min.js?ver=2.1.4"></script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>


    <link type="text/css" href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>

    @*------------头部---------------*@
    <header class="header">
        <nav class="container">
            <div class="logo hidden-sm">
                <a href="../" class="common_logo">
                    <img src="@AppConst.OtherImagePath/xqw_logo.png">
                </a>
            </div>
            <div class="mobile-logo show-sm">
                <a href="../" class="common_logo">
                    <img src="@AppConst.OtherImagePath/xqw_logo.png">
                </a>
            </div>
            <div class="header-menu-xqw">
                @*<nav class="nav navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <!--在移动端的时候导航条折叠起来，三横的样式出现，点击该样式可以显示或隐藏导航条上的内容-->
                            <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="#" class="navbar-brand">logo</a>
                        </div>
                        <div id="menu" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">one</a></li>
                                <li><a href="#">two</a></li>
                                <!--下拉菜单功能的实现-->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        three<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">first</a></li>
                                        <li><a href="#">second</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>*@


            </div>
        </nav>
    </header>


    @RenderBody()

    @*------------尾部---------------*@
    <footer id="footer">
        <div class="container" style="position: relative; margin-top: 22px;" data-position="d8fa2f5b7b5689de">
            <div class="footer-theme hidden-xs">
                <span>自学视频教程平台</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="../Home/AboutUs" class="common_about" style="color:white" target="_blank">关于小青蛙商学院</a>
            </div>
            <ul class="footer-follow">
                <li class="follow-wechat">
                    <a href="../Home/VIP">
                        <i class="czs-weixin"></i>
                    </a>
                </li>
                <li class="follow-qq">
                    <a href="tencent://AddContact/?fromId=50&amp;fromSubId=1&amp;subcmd=all&amp;uin=1315915446" target="_blank">
                        <i class="czs-qq"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
        </div>
        <div class="copyright">
            <div class="container">
                <p>
                    Copyright © 2013-2020&nbsp;&nbsp;- 全网最全自学视频教程平台 &nbsp;&nbsp;<span style="margin-right: 12px;" class="hidden-xs">
                        <a class="site-record" target="_blank" href="http://www.beian.miit.gov.cn/" style="color: #818181;">
                            苏ICP备18034664号-01
                        </a>
                    </span>
                    <script>

                    </script>
                </p>
            </div>
        </div>
    </footer>
    <script>
        var userLocalInfo = {};

        $(function () {
            //加载二级分类列表
            loadCategory();
        });

        function loadCategory() {
            $.ajax({
                url: "../Category/GetACategoryMenuList",
                dataType: "json",
                async: true,
                type: "get",
                success: function (result) {
                    var htmlstr = '<nav class="nav navbar-inverse navbar-fixed-top">';
                    htmlstr += '<div class="container">';

                    htmlstr += '<div class="navbar-header">';
                    htmlstr += '<button class="navbar-toggle" data-toggle="collapse" data-target="#menu">';
                    htmlstr += '<span class="icon-bar"></span>';
                    htmlstr += '<span class="icon-bar"></span>';
                    htmlstr += '<span class="icon-bar"></span>';

                    htmlstr += '</button></div>';
                    //htmlstr += '</button><a href="/Home/Index" class="navbar-brand">首页</a></div>';
                    htmlstr += '<div id="menu" class="collapse navbar-collapse">';
                    htmlstr += '<ul class="nav navbar-nav">';

                    $.each(result, function (i, aitem) {
                        htmlstr += '<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">' + aitem.ACategoryName + '<span class="caret"></span></a>';
                        htmlstr += '<ul class="dropdown-menu">';
                        $.each(aitem.BCategoryList, function (j, bitem) {
                            htmlstr += '<li><a href="/Category/Index?bcategoryid=' + bitem.BCategoryId + '">' + bitem.BCategoryName + '</a></li>';
                        });
                        htmlstr += '</ul></li>';
                    });

                    htmlstr += '</ul></div></div></nav>';

                    $(".header-menu-xqw").append(htmlstr);
                    registerClickEvent();
                }
            });
        }
        function saveClickLog(type, bussvalue, remark) {
            var param = {};
            param.clickType = type;
            param.bussiesValue = bussvalue;
            param.remark = remark;

            param.userIp = returnCitySN["cip"];
            param.userCityName = returnCitySN["cname"];
            $.ajax({
                url: "../Home/SaveClickTypeLog",
                dataType: "json",
                async: true,
                data: param,
                type: "post"
            });
        }

        function registerClickEvent() {
            $(".common_logo").click(function () {
                saveClickLog(1001);
            });

            $(".common_home").click(function () {
                saveClickLog(1002);
            });

            $(".common_Acate").click(function () {
                saveClickLog(1003, this.innerText);
            });

            $(".common_search").click(function () {
                saveClickLog(1004);
            });

             $(".common_about").click(function () {
                saveClickLog(1005);
            });
        }
    </script>
</body>
</html>